header {
    background-color: #333333;
    width: 100%;
    position: relative;
}

body {
    background-image: url(assets/background.png);
    margin: 0px;
}

main {
    padding-left: 10%;
    padding-right: 10%;
}

.introduction {
    font-size: 20px;
}

p {
    font-family: 'courier';
}

.separator {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    line-height: 20px;
}

h1 {
    font-family: 'Pacifico';
    font-size: 64px;
}

h2 {
    color: #ff0099;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    float: right;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: #ff0099;
    padding: 14px 16px;
    font-size: xx-large;
    text-align: center;
    display: block;
}

nav {
    overflow: hidden;
}

.logo {
    margin-top: 15px;
    padding-left: 10%;
    position: absolute;
}